<!-- コメント内容(２件) ---------------------------------->
<%= post_comments.count %>件のコメント
<a class="btn btn-outline-secondary"data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">もっと見る....</a>
<% post_comments.first(2).each do |post_comment| %>
     <% unless post_comment.id.nil? %>
    <li class="comment-container">
        <div class="comment-box">
            <div class="comment-avatar">
                <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no-image.jpg", class:"comment-image mt-3 rounded-circle", size: "40x40"  %>
            </div>
            <div class="comment-text">
                <p><%= link_to "@#{post_comment.user.name}さん", user_path(post_comment.user.id) %></p>
                <div class="comment-entry">
                    <%= post_comment.comment %>
                    <% if post_comment.user == current_user %>
                        <%= link_to post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                            <i class="fas fa-trash" style="color: black;"></i>
                        <% end %>
                    <% end %>
                </div>
                <span class="comment-date pull-right">
                      <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                </span>
            </div>
        </div>
    </li>
<% end %>
<% end %>
<!-- コメント内容(3件目以降) -------------------->
<div class="collapse" id="collapseExample">
  <% post_comments.offset(2).each do |post_comment| %>
     <% unless post_comment.id.nil? %>
      <li class="comment-container">
        <div class="comment-box">
          <div class="comment-avatar">
            <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no-image.jpg", class:"comment-image mt-3 rounded-circle", size: "40x40"  %>
          </div>
          <div class="comment-text">
            <p><%= link_to "@#{post_comment.user.name}さん", user_path(post_comment.user.id) %></p>
            <div class="comment-entry">
              <%= post_comment.comment %>
              <% if post_comment.user == current_user %>
                <%= link_to post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                  <i class="fas fa-trash" style="color: black;"></i>
                <% end %>
              <% end %>
            </div>
            <span class="comment-date pull-right">
              <%= post_comment.created_at.strftime('%Y/%m/%d') %>
            </span>
         </div>
       </div>
     </li>
   <% end %>
 <% end %>
</div>
