
<%= form_with model:current_user,  url: {controller: 'users', action: 'update' }, local:true do |f| %>
	<div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
      <div class="form-group">
        <table class="table">
      		<h4>プロフィール</h4>
            <tr>
   	          <th><%= attachment_image_tag current_user, :profile_image, size: "100x100"%></th>
   	        </tr>
   	        <tr>
              <th><label for="inputImage">ProfileImage</label>
              <th><%= f.attachment_field :profile_image %></th></th>
            </tr>
            <tr>
              <th><label for="inputImage">WorksImage</label>
              <!--multiple: trueを入れないと複数投稿ができない-->
   	          <th><%= f.attachment_field :works_images_works_images, multiple: true, size: "100x100" %></th>
            </tr>
            <tr>
        	    <div class="user-form">
          	    <th><%= f.label " ユーザーネーム",class: "fas fa-user" %></th>
         	      <th><%= f.text_field :name, class:"form-control" %></th>
     	      </tr>
              <th><%= f.label "  活動拠点", class: "fas fa-flag" %></th>
              <th><%= f.select :based_in, User.based_ins.keys, {}, class: "btn btn-secondary" %></th>
            </tr>
            <tr>
              <th><%= f.label " 職種",class: "fad fa-user-tag" %></th>
              <th><%= f.select :job_category_id, JobCategory.job_categories.keys,{}, class:"form-control" %></th>
            </tr>
            <tr>
              <th><%= f.label " 自己紹介" ,class: "fas fa-pen" %></th>
              <th><%= f.text_area :introduction, class:"form-control" %></th>
            </tr>
            <tr>
              <th><%= f.label " 電話番号", class: "fas fa-phone" %></th>
              <th><%= f.text_field :phone_number, class:"form-control" %></th>
            </tr>
            <tr>
              <th><%= f.label " メール", class: "fas fa-envelope" %></th>
              <th><%= f.email_field :email, autocomplete: "email", class:"form-control" %></th>
            </tr>
         </table>
         <%= f.submit "編集内容を保存", class: "btn btn-outline-success" %>
         <%= link_to "退会する", unsubscribe_path, class: "btn btn-outline-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
