<%= form_with model:current_user,  url: {controller: 'users', action: 'update' }, local:true do |f| %>
	<div class="container">
    <div class="row">
      <div class="form-group">
        <table>
      		<h4>会員情報編集</h4>
            <tr>

              <tr>
     	        <th><%= attachment_image_tag current_user, :works_image, size: "100x100"%></th>
              <th><label for="inputImage">Works</label>
            <%= f.attachment_field :works_image %></th>
            </tr>
            <tr>


            <tr>
     	        <th><%= attachment_image_tag current_user, :profile_image, size: "100x100"%></th>
              <th><label for="inputImage">ProfileImage</label>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></th>
            </tr>
            <tr>
        	    <div class="user-form">
          	    <th><%= f.label "name" %></th>
         	      <th><%= f.text_field :name, class:"form-control" %></th>
     	      </tr>
              <th><%= f.label "based_in" %></th>
              <th><%= f.text_field :based_in, :size => "60*60", class:"form-control" %></th>
            </tr>
            <tr>
              <th><%= f.label "job_category" %></th>
              <th><%= f.select :job_category_id, JobCategory.job_categories.keys,{}, class:"form-control" %></th>
            </tr>
            <tr>
              <th><%= f.label "introduction"%></th>
              <th><%= f.text_field :introduction, class:"form-control" %></th>
            </tr>
            <tr>
              <th><%= f.label "phone_number" %></th>
              <th><%= f.text_field :phone_number, class:"form-control" %></th>
            </tr>
            <tr>
              <th><%= f.label "email" %></th>
              <th><%= f.email_field :email, autocomplete: "email", class:"form-control" %></th>
            </th>
         </table>
       </div>
    </div>

     <tr>


    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
        <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <div>
<% end %>
