<h2 class="text-center">ブックマーク一覧</h2>
  <div class="container">
    <div class="row">
      <div class="wrapper">
        <div class="card-columns">
          <div class="col-lg-12">
            <% current_user.favorite_posts.each do |post| %>
                <%= link_to post_path(post.id) do %>
                 <div class="card">
                    <%= attachment_image_tag post, :image, :fill, 300, 300, fallback: "no-image.jpg", class:"card-img-top" %>
                  <div class="card-body">
                      <p class="card-title">タイトル : <%= post.title %></p>
                      <p>投稿者: <%= post.user.name %></p>
                    <% end %>
                    <%= link_to user_path(post.user) do %>
                      <p><%= attachment_image_tag post.user, :profile_image, size:'60x60', fallback: "no-image.jpg", class:"mt-3 rounded-circle"; %></p>
                    <% end %>
                  </div>
                 </div>
            <% end %>
          </div>
    　</div>
    </div>
  </div>
</div>