      <h2 class="text-center">User Page</h2>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-5'>
      <table class="table">
        <div class='col-md-7 offset-md-11'>
          <h4 class="text-center">MY WORKS</h4>
            </div>
              <br>
              <tr>
                <th><%= attachment_image_tag @user, :profile_image, class: "img-thumbnail", fallback: "no-image.jpg", size: "100x100" %></th>
              </tr>
                <tr>
                  <th>name</th>
                  <th><%= @user.name %></th>
                </tr>
                <tr>
                <th>based_in</th>
                <th><%= @user.based_in %></th>
                </tr>
                <tr>
                  <th>job_category</th>
                  <th><%= @user.job_category_id %></th>
                </tr>
                <tr>
                  <th>introduction</th>
                  <th><%= @user.introduction %></th>
                </tr>
                <tr>
                  <th>email</th>
                  <th><%= @user.email %></th>
                </tr>
                   <% if @user.id == current_user.id %>
                    <%= link_to "編集する", edit_user_path(current_user.id), class: "btn btn btn-success" %>
                  <% end %>
            </div>
          </div>
        </table>

<% if current_user != @user %>
  <%= link_to 'chatを始める', chat_path(@user.id), class: "btn btn-info"%>
<% end %>
      <!--< @works_images.each do |works_image| %>-->
      <!--     <div class="card">-->
      <!--        <= attachment_image_tag works_image, :image, class:"card-img-top" %>-->
      <!--        <div class="card-body">-->
      <!--        </div>-->
      <!--      </div>-->
      <!--  < end %>-->

