      <h2 class="col-md-3 offset-md-1">User Page</h2>
       <h4 class="text-center">MY WORKS</h4>
<div class='container'>
  <div class='row'>
    <div class='col-lg-5'>
      <table class="table">
        <tr>
          <th><%= attachment_image_tag @user, :profile_image, class: "img-thumbnail", fallback: "no-image.jpg", size: "100x100" %></th>
        </tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
          <th>based_in</th>
          <th><%= @user.based_in %></th>
          </tr>
          <tr>
            <th>job_category</th>
            <th><%= @user.job_category_id %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
          <tr>
            <th>email</th>
            <th><%= @user.email %></th>
          </tr>
             <% if @user.id == current_user.id %>
              <%= link_to "編集する", edit_user_path(current_user.id), class: "btn btn btn-success" %>
            <% end %>
            <% if current_user != @user %>
              <i class="far fa-comment-dots"><%= link_to 'chatを始める', chat_path(@user.id), class: "btn btn-outline-info"%></i>
            <% end %>
      </table>
    </div>
    <div class='col-lg-6'>
      <% @user.works_images.each do |image| %>
      <%= attachment_image_tag image, :works_image, class: "default_image", size: "300x300" %>
    <% end %>
  </div>
</div>


