<div class="wrapper">
  <div class="card-columns">
    <div class="row g-4" data-masonry='{"percentPosition": true }'>
      <div class="col-8 offset-md-2">
       <% @posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
           <div class="card">
              <%= attachment_image_tag post, :image, :fill, 300, 300, class:"card-img-top" %>
              <div class="card-body">
                <p class="card-title">title : <%= post.title %></p>
                <p>name : <%= post.user.name %></p>
               <p><%= attachment_image_tag post.user, :profile_image_id, size:'60x60', fallback: "no-image.jpg", class:"mt-3 rounded-circle"; %></p>
                <p><i class="fas fa-comment"></i> <%= link_to "#{post.post_comments.count}", post_path(post.id) %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <%= paginate @posts %>
    </div>
  </div>
</div>
