<div class="text-center">
<h4>Task検索</h4>
<%= search_form_for @q, url: search_posts_path do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>
  <%= f.submit '検索' %>
  </div>
  <br>
<% end %>


<div class="wrapper">
  <div class="card">
<div class="card-body">

    <div class="column flex-direction:row">
      <div class="col-md-4 offset-md-2">
       <% @posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
           <div class="card">
              <%= attachment_image_tag post, :image, :fill, 300, 300, class:"card-img-top" %>
              <div class="card-body">
                <p class="card-title">title : <%= post.title %></p>
                <p>name : <%= post.user.name %></p>
                <% end %>
                <%= link_to user_path(post.user) do %>
               <p><%= attachment_image_tag post.user, :profile_image, size:'60x60', fallback: "no-image.jpg", class:"mt-3 rounded-circle"; %></p>
               <% end %>
                <p><i class="fas fa-comment"></i> <%= link_to "#{post.post_comments.count}", post_path(post.id) %></p>


                <% if post.favorited_by?(current_user) %>
                  <p>
                  <%= link_to post_favorites_path(post), method: :delete do %>
                  ♥<%= post.favorites.count %> いいね
                <% end %>
                  </p>
                <% else %>
                <p>
                  <%= link_to post_favorites_path(post), method: :post do %>
                  ♡<%= post.favorites.count %> いいね
                <% end %>
                </p>
              <% end %>
              </div>
            </div>
        <% end %>
      </div>
    <%= paginate @posts %>
    </div>
  </div>
</div>
