<div class="text-center">
<h4>検索</h4>
<%= search_form_for @search do |f| %>
  <%= f.label :キーワードを入力 %>
  <%= f.search_field :title_cont %>
  <%= f.submit '検索' %>
</div>
<br>
<% end %>

<div class="container">
    <div class="row">
      <div class="wrapper">
        <div class="card-columns">
          <div class="col-lg-12">
           <% @posts.each do |post| %>
              <%= link_to post_path(post.id) do %>
               <div class="card">
                  <%= attachment_image_tag post, :image, :fill, 300, 300, fallback: "post_no_image.jpg", class:"card-img-top" %>
                  <div class="card-body">
                    <p class="card-title">タイトル :<%= post.title %></p>
                    <p>投稿者 :<%= post.user.name %></p>
                    <% end %>
                    <%= link_to user_path(post.user) do %>
                   <p><%= attachment_image_tag post.user, :profile_image, size:'60x60', fallback: "no-image.jpg", class:"mt-3 rounded-circle"; %></p>
                   <% end %>
                    <p><i class="fas fa-comment"></i> <%= link_to "#{post.post_comments.count}", post_path(post.id) %></p>
                    <p>
                     <div class="favorites_buttons_<%= post.id %>">
                      <%= render 'favorites/favorite-btn', post: post %>
                     </div>
                    </p>
                     <%= render 'posts/tag_list', tag_list: post.tag_list %>
                  </div>
                </div>
              <% end %>
          </div>
       </div>
    </div>
  </div>
</div>

