<div class="wrapper">
  <div class="card-columns">
    <div class="row g-4" data-masonry='{"percentPosition": true }'>
      <div class="col-10 offset-md-2">
        <div class="card">
          <div class="card-body">
            <%= attachment_image_tag @post, :image,size:'350x350' %>
            <%= attachment_image_tag @post.user, :profile_image, size:'60x60', fallback: "no-image.jpg", class:"mt-3 rounded-circle"; %>
            <p>title：<%= @post.title %></p>
            <p>：<%= @post.user.name %></p>
            <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
           <% if @post.user == current_user %>
             <%= link_to "削除", post_path(@post), method: :delete %>
           <% end %>
           <% if @post.favorited_by?(current_user) %>
             <p>
               <%= link_to post_favorites_path(@post), method: :delete do %>
                 ♥<%= @post.favorites.count %> いいね
              <% end %>
             </p>
              <% else %>
              <p>
                <%= link_to post_favorites_path(@post), method: :post do %>
                ♡<%= @post.favorites.count %> いいね
              <% end %>
              </p>
            <% end %>
            <p>コメント件数：<%= @post.post_comments.count %></p>
            </div>
          </div>
        </div>
      </div>

        <div class="text-center">
        説　明：<%= @post.description %>
        </div>

        <div class="text-center">

            <% @post.post_comments.each do |post_comment| %>
            <!--<p>%= image_tag('sample-author1.jpg') %></p>-->
            <%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
            <% if post_comment.user == current_user %>
          <div class="comment-delete text-center">
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          </div>
          <% end %>
          <% end %>
          </div>
          <div class="new-comment text-center">
            <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントを追加" %>
            <%= f.submit "送信する", class: "btn btn-success" %>
            <% end %>
    </div>
  </div>
</div>



