<!DOCTYPE html>
<html>
  <head>
    <title>F Connect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/ >


    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body>
     <%= render 'layouts/header' %>
    <main>


    <%= yield %>
    </main>
    
    <footer class="mobile">
  <p>&copy; All rights reserved. Floxi 2015 Made with <i class="fa fa-heart" aria-hidden="true"></i> by Designstub</p>
</footer>

    <!--<footer>-->
  <!--<div class="copyright">-->
  <!--  <p class="mb-0">&copy 2021 - F - CONNECT - </p>-->
  <!--</div>-->
  <!--<div class="social">-->
  <!--  <a href="#" class="support">Contact Us</a>-->
  <!--  <a href="#" class="face">f</a>-->
  <!--  <a href="#" class="tweet">t</a>-->
  <!--  <a href="#" class="linked">in</a>-->
  <!--</div>-->
<!--</footer>-->
<script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
